POSTGRES_DB=beauty_store
POSTGRES_USER=beauty_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

DB_URL=jdbc:postgresql://127.0.0.1:5433/beauty_store
DB_USERNAME=beauty_user
DB_PASSWORD=change_me

CLOUDINARY_CLOUD_NAME=change_me
CLOUDINARY_API_KEY=change_me
CLOUDINARY_API_SECRET=change_me
CLOUDINARY_PRODUCT_IMAGES_FOLDER=gabriela-store/dev/products

JWT_SECRET=change_me_with_at_least_32_chars
JWT_EXPIRES_MINUTES=480

CORS_ALLOWED_ORIGINS=http://localhost:5173

JPA_SHOW_SQL=true
MAX_FILE_SIZE=5MB
MAX_REQUEST_SIZE=6MB
PORT=8080